extends layout

block content
    p Soundtracks will be delivered by email (MP3s) within 1-2 business days.

    each item in albums
        .col-2up.sheet-music__row
            .col-2up__column.soundtrack__image
                img(src="/img/#{item.image}", title="#{item.title}")
            .col-2up__column.soundtrack__info
                h2= item.title
                span.soundtrack__featuring featuring:
                ul
                    each song in item.songs
                        li.soundtrack__title
                            em #{song}
                p.soundtrack__price
                    | Price: 
                    strong $#{item.price}
                form(action="https://www.paypal.com/cgi-bin/webscr", method="post", target="_top")
                    input(type="hidden", name="cmd", value="_s-xclick")
                    input(type="hidden", name="hosted_button_id", value="#{item.paypal}")
                    input(type="image", alt="PayPal - The safer, easier way to pay online!", name="submit", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif")
                    img(alt="", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1", border="0")

    blockquote.callout.callout--music
          p.callout__content
            a.callout__link(href="/sheet-music") Sheet music now available!
